
html {
  height: 100%;
}


#mainSketchHolder,
#scribbleSketchHolder {
  position: fixed;
  width: 100%;
  height: auto;
}


body {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  align-items: stretch;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


.dock {
  position: fixed;
  /* flex: 1 0 auto; */
  width: auto;
  height: 64px;
  /* background: #bdbdab; */
  overflow: hidden;
  z-index: 10000;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.subdock {
  position: fixed;
  width: auto;
  height: 36px;
  overflow: hidden;
  z-index: 10000;
  left: 50%;
  bottom: 72px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.subdock-toolscontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.subdock-palette-item {
  height: 18px;
  width: 18px;
  margin-left: 4px;
  margin-right: 4px;
}

.subdock-stokesize-item {
  background-color: darkgrey;
  border-radius: 50%;
  margin-left: 6px;
  margin-right: 6px;
}

.subdock-item-selected {
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.tool {
  width: 64px;
  height: 64px;
  flex: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  /* list-style: none; */
  /* flex: initial; */
}

#scribble-switch {
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  font-size: 2em;
  z-index: 2;
}

.transparentInput {
  outline: none;
  border: none;
  background-color: transparent;
}
.tagLikedTextarea {
  padding: 8px;
  outline: none;
  background: rgb(92, 92, 92);
  z-index: 3;
  border-radius: 6px;
}